.input-container {
  margin-top: 10%;
  width: 100%;
  background-color: var(--color-very-light-grayish-blue);
  padding: 2rem;
  border-radius: 1rem;
  border: none;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-dark-grayish-blue);
  padding: 1rem;
  border-radius: 1rem;
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--color-very-light-grayish-blue);
  font-size: 1.8rem;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  opacity: 0.5;
}

.form-fields {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.form-fields label {
  color: var(--color-very-dark-grayish-blue);
  font-size: 2rem;
  font-weight: 600;
}

.btn {
  width: 100%;
  color: #fff;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  background-color: var(--color-bg);
  cursor: pointer;
}

.btn:hover {
  background-color: #86f2db;
}

.error {
  color: red;
  font-size: 1.5rem;
  font-weight: 600;
}

@media only screen and (max-width: 900px) {
  .form-fields label {
    font-size: 1.5rem;
  }

  .input {
    font-size: 1.2rem;
  }

  .btn {
    font-size: 1.5rem;
    padding: 1rem;
  }
}
