.todo-item-container {
  width: 100%;
  background-color: var(--color-very-light-grayish-blue);
  padding: 2rem;
  border: none;
  border-bottom: 1px solid hsl(240, 17%, 91%);
  cursor: pointer;

  display: flex;
  align-items: center;
}

.todo-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-icon {
  height: 2rem;
  width: 2rem;
  align-self: flex-start;
  border: 1px solid var(--color-dark-grayish-blue);
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-icon.checked {
  background-color: var(--color-bg);
  border-radius: 50%;
  margin-right: 2rem;
}

.icon-color {
  color: var(--color-very-light-grayish-blue);
}

.todo-item {
  height: 100%;
  color: var(--color-very-dark-grayish-blue);
  font-size: 1.8rem;
  font-weight: 600;
}

.todo-item.checked {
  text-decoration: line-through;
  color: var(--color-dark-grayish-blue);
  opacity: 0.5;
}

.cross {
  /* position: relative; */
  margin-left: auto;
  display: flex;
  align-items: center;
}

.cross-icon {
  color: var(--color-dark-grayish-blue);
}

.cross p {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.btn-view {
  font-size: 1.5rem;

  border: none;
  background-color: var(--color-bg);
  color: #fff;
  padding: 1rem;
  cursor: pointer;
}

.hidden {
  display: none;
}
