.modal {
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  background-color: white;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 1.2rem;
  position: absolute;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  top: 20%;
  left: 0;
  right: 0;

  /* bottom: 70px; */

  min-width: 35%;
  min-height: 20%;
  padding: 2rem;

  display: flex;
  flex-direction: column;
}

.modal-content {
  flex: 1;
  word-wrap: break-word;
  margin: 1rem 0;
  font-size: 2rem;
  color: var(--color-very-dark-grayish-blue);
  font-weight: 600;
}

.btn-modal {
  border: none;
  background-color: var(--color-bg);
  color: #fff;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.btn-modal:hover {
  background-color: #86f2db;
}

.btn-close {
  align-self: flex-end;
}

.btn-container {
  /* align-self: flex-end; */
  display: flex;
}

.btn-edit,
.btn-delete {
  flex: 1;
  margin-right: 1rem;
}
